h4 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
    margin-right: 20rem;
    margin-left: 20rem;
    letter-spacing: 2.5px;
}

.button {
    background-color: goldenrod;
    position: absolute;
    width: 77px;
    height: 53px;
    border-radius: 5px;
    bottom: 3rem;
    right: 5rem;
}

.button::before {
    content: "";
    position: absolute;
    border-bottom: 25px solid goldenrod;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    transform: rotate(200deg);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 50%;
    border-top-right-radius: 50%;
    margin-top: 42px;
    margin-left: 5px;
}

.side-menu-button {
    background-color: rgb(193, 140, 8);
    border-radius: 5px;
    position: absolute;
    width: 60px;
    height: 40px;
    scale: 0.8;
    top: 45px;
    left: 40px;
}